@import url(https://fonts.googleapis.com/css?family=Heebo:400,900,700,800);

$default-margin: .938rem;
$blue: #0071DC;
$grey: #D7DFE2;

$br: 4px;

html, body {
	font-family: "Karla";
	font-size: 16px;
	height: 100%;
}

.main-header {
	background-color: $blue;
    color: #fff;
}

.wrapper {
	max-width: 1260px;
	margin: 0 auto;
}

.basePrice-london, .viewings-london {
	opacity: .5;
	font-size: .813em;
	display: block;
}

.comparison-table {
	position: relative;
	overflow: hidden;
	width: 100%;

}

@media screen and (min-width:992px) {
	.comparison-table {
		width: calc(100% - 14.55rem);
		display: inline-block;
	}
}

.loader {
	display: none;
	position: absolute;
	left: calc(50% - 40px);
	top: 50%;
	z-index: 100;
}

.comparison-table__error {
  display: none;
}

.homepage-container {
	margin: 1em auto;
}

// Headings

%heading {
	font-family: 'Karla', helvetica, arial, sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin-bottom: $default-margin;
	color: #333;
}

.heading__one, .heading-four, .heading-three {
	@extend %heading;
}

.heading__one {
	font-size: 2.188rem;
}

@media screen and (min-width: 768px) {
	.heading__one {
		font-size: 2.618rem;
	}
}

// End headings

// Filter

.filter-section {
	margin-bottom: $default-margin;
	border: 1px solid $grey;
	border-radius: $br;
	box-shadow: 0 2px 0 0 rgba(234,236,238,0.50);
}

.filter-section__radio {
	padding: .5em;
	border-bottom: 1px solid lighten($grey, 5%);

	&:last-child {
		border-bottom: 0;
	}
}

.filter-section__checkbox {
	@extend .filter-section__radio;
}

.filter-section__select {
	margin: .5em;
	width: calc(100% - 1em);
}

.filter-section__label {
	font-weight: normal;
	margin-bottom: 0;
}

.filter-section__heading {
	background-color: $grey;
	padding: .5em;
	margin: 0;
}


.filter-close {
	content: "\f057";
	position: absolute;
	right: $default-margin;
}

.filter-container {
	width: 100%;
	position: absolute;
    top: 0;
    left: 0;
	z-index: 100;
	background-color: #fff;
	min-height: 100%;
	display: none;
	-webkit-animation-duration: .25s;
	padding: 1em;
}

.filter-container__heading {

}

.filter-btn__container {
  margin: 1em;
  display: block;
}

// Result item

.result-item {
	border: 1px solid $grey;
	margin: 1em;
	border-radius: 4px;

    &:first-child {
      margin-top: 0;
    }

}

.result-item__header {
	background-color: #eaeaea;
	padding: .5em;
}

.result-item__footer {
	border-top: 1px solid $grey;
	padding: .5em;
    text-align: center;
}

.result-item__rating {
  display: block;
  margin: .5em auto;
}

@media screen and (min-width: 768px) {

  .result-item__footer {
    text-align: left;
  }

  .result-item__rating {
    display: inline-block;
    margin: 0;
  }

}

.result-item__body {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.result-item__feature {
	padding: 0 1em;
    margin: .5rem 0;
	text-align: center;
	flex-grow: 1;
    width: 100%;

	&:last-child {
		flex-grow: 2;
	}

}

@media screen and (min-width: 768px) {
	.result-item__body {
		flex-direction: row;
	}

	.result-item__feature {
		padding: 1.5em .5em;
        margin: 0;
        width: auto;
	}
}

.result-item__price {
	display: block;
	font-size: 1.35em;
	font-weight: 600;
}

.result-item__price--large {
	font-size: 1.999em;
	@extend .result-item__price;
}

.result-item__title {
	display: block;
	font-size: 1em;
	color: #727272;
}

.result-item__logo {
	vertical-align: top;
}

.result-item__link {
	font-weight: 600;
}

.result-item__viewDetail {
  display: block;
  @extend .result-item__link;
}

.result-item__sub {
	display: block;
	clear: both;
}

.result-item__btn {
	background-color: $blue;
	padding: .5em 2em;
    margin-bottom: .5em;

}

@media screen and (min-width:992px) {
	
	.filter-close {
		display: none !important;
	}
	
	.filter-container {
		width: 13.25rem;
		display: inline-block !important;
		position: relative;
		margin-right: $default-margin;
		vertical-align: top;
		padding: 0;
	}
	
}

// End filter



.divider {
	width: 100%;
	height: 1px;
	margin: $default-margin 0;
	display: block;
	background-color: #333;
}


.ratings-5 {
	background: url(../img/rating-stars.svg);
	background-size: 100%;
	width: 8.25rem;
	height: 1.5rem;
	display: block;
	vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .ratings-5 {
    display: inline-block;
  }
}

.ratings-4 {
	@extend .ratings-5;
	background-position-y: -2.125rem;
}

.ratings-3 {
	@extend .ratings-5;
	background-position-y: -4.25rem;
}

.ratings-2 {
	@extend .ratings-5;
	background-position-y: -6.375rem;
}

.ratings-1 {
	@extend .ratings-5;
	background-position-y: -8.5rem;
}


// Reviews iframe

.reviews-logo {
	@extend %logo-trustpilot;
	width: 179px;
	height: 20px;
	margin-top: .25rem;

}

.reviews__header {
	padding-bottom: 2rem;
    border-bottom: 1px solid $grey;
}

.reviews__iframe {
	width: 100%;
	height: 80%;
	position: absolute;
	left: 0;
	//top: 13rem;
}

.review {
	padding: 2rem 0;
	border-bottom: 1px solid $grey;
	position: relative;

	&:last-child {
		border-bottom: 0;
	}
}

.review-name {
	font-weight: 600;
	margin-bottom: 1rem;
	display: block;
}

.review-date {
	position: absolute;
	right:2rem;
	top:0;
	font-weight: 600;
}

// Buttons

%btn {
	font-family: "Karla", "Helvetica", "Arial", sans-serif;
	font-weight: 200;
	color: #fff;
	border: 0;
	border-radius: 8rem;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.25);
    font-size: 1rem;
    letter-spacing: 1px;
    padding: .5em 2em;
    text-align: center;
}

.btn__primary {
	@extend %btn;
	background-color: $blue;

	transition: background-color, 1s, linear;
    display: block;

	&:hover, &:active, &:visited {
		background-color: darken($blue, 5%);
		color:#fff;
	}
}

.btn__secondary {
  @extend %btn;
  border: 1px solid $grey;
  color: #333;
  box-shadow: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .btn__primary {
    display: inline-block;
  }
}


// Modal

.remodal {
	max-width: 50%;
	min-height: 100%;
	overflow: scroll;
	padding: 1em;
}

.remodal-close {
	right: 0;
}

@media screen and (max-width:768px) {

	.remodal-wrapper {
		padding: 0;
	}

	.remodal {
		vertical-align: top;
		max-width: 100%;
	}
}

.reviews__header__summary {
	display: block;
	margin-bottom: 1.25em;
}

.reviews__btn {
  margin: 0 auto;
}

//Logos

%logo {
	display: block;
	background-size: contain;
}

%logo-trustpilot {
	@extend %logo;
	background: url("../img/trustpilot-logo.png") 0 0 no-repeat;
	background-size: 100%;
}